/* Logo styles */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;       /* Adjust the size as needed */
    height: 50px;      /* Adjust the size as needed */
    background-color: #002677; /* Background color */
    color: #fff;        /* Text color */
    border-radius: 50%; /* Makes it a circle */
    font-size: 20px;    /* Font size */
    font-weight: bold;  /* Font weight */
    text-align: center; /* Center the text */
    line-height: 100px; /* Center text vertically */
    transition: transform 0.5s; /* Smooth rotation transition */
    transform: rotate(180deg); /* Rotate 180 degrees */
  }
  